

body, html{
       margin: 0%;
       padding: 0%;
       width: 100%;
       height: 100%;
       overflow: hidden;
       background-color: rgb(235, 255, 222);
}

#div1{
       height: 20%;
       background-color: rgb(235, 255, 222);
}

#div2{
       height: 60%;
       background-color: rgb(255, 253, 230);
}

#div3{
       
       height: 20%;
       background-color: rgb(235, 255, 222);
       display: flex;
       justify-content: space-around;
       align-items: center;

}
h1{
       padding: 20px;
}
button{
       width: 90px;
       height: 60px;
       font-size: larger;
}
#answerID{
       padding: 20px;
}

input[type=radio]{
       width: 20px;
       height: 20px;
}
label{
       font-size: 30px;
}

#div4 button{
       width: 200px;
       border-radius: 5rem;
       margin: 50px;
}
